
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-a2c39f:      #a2c39f;
$theme-000000:      #000000;
$theme-9c988d:      #9c988d;
$theme-1d1d1b:      #1d1d1b;
$theme-f7d78c:      #f7d78c;
$theme-e0d8ca:      #e0d8ca;
$theme-5b5b5b:      #5b5b5b;
$theme-d8d0c0:      #d8d0c0;
$theme-c39966:      #c39966;
$theme-f8c5ce:      #f8c5ce;
$theme-66746b:      #66746b;
$theme-85a7bf:      #85a7bf;
