@font-face {
  font-family: 'HARegular';
  src: url("css/sitefont/HomemadeApple-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RRegular';
  src: url("css/sitefont/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RMedium';
  src: url("css/sitefont/Raleway-Medium.ttf") format("truetype");
}

/* line 17, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.ff-HARegular {
  font-family: 'HARegular';
}

/* line 20, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.ff-RRegular {
  font-family: 'RRegular';
}

/* line 23, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.ff-RMedium {
  font-family: 'RMedium';
}

/* line 27, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

/* line 37, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
body, html {
  height: 100%;
}

/* line 41, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
body {
  background: #ffffff;
  color: #5b5b5b;
  font-size: 16px;
  font-family: 'RRegular', sans-serif;
  font-weight: 400;
  background-image: url("images/page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media (max-width: 1024px) {
  /* line 41, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  body {
    font-size: 14px;
  }
}

/* line 59, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul {
  list-style: none;
}

/* line 62, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul li a {
  text-decoration: none;
}

/* line 65, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul li a:hover {
  text-decoration: none;
}

/* line 71, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul.floated-list {
  margin-bottom: 0;
}

/* line 73, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul.floated-list li {
  float: left;
  display: block;
}

/* line 76, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul.floated-list li a {
  display: block;
}

/* line 79, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul.floated-list li ul {
  margin-bottom: 0;
}

/* line 81, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
ul.floated-list li ul li {
  float: none;
}

/* line 88, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 92, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
a:hover {
  opacity: 0.7;
}

/* line 96, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
button[type="submit"],
input[type="submit"] {
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 99, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
button[type="submit"]:hover,
input[type="submit"]:hover {
  opacity: 0.7;
}

/* line 103, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
img {
  border: 0;
}

/* line 109, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 112, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h1 {
  font-size: 26px;
}

/* line 116, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h2 {
  font-size: 24px;
}

/* line 120, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h3 {
  font-size: 22px;
}

/* line 124, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h4 {
  font-size: 20px;
}

/* line 128, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h5 {
  font-size: 18px;
}

/* line 132, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h6 {
  font-size: 16px;
}

/* line 136, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

/* line 139, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
label {
  font-weight: normal;
}

/* line 142, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font8px {
  font-size: 8px;
}

/* line 145, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font9px {
  font-size: 9px;
}

/* line 148, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font10px {
  font-size: 10px;
}

/* line 151, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font11px {
  font-size: 11px;
}

/* line 154, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font12px {
  font-size: 12px;
}

/* line 157, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font13px {
  font-size: 13px;
}

/* line 160, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font14px {
  font-size: 14px;
}

/* line 163, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font15px {
  font-size: 15px;
}

/* line 166, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font16px {
  font-size: 16px;
}

/* line 169, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.bdrs0 {
  border-radius: 0;
}

/* line 172, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.bdrs5px {
  border-radius: 5px;
}

/* line 175, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.bdrs8px {
  border-radius: 8px;
}

/* line 178, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.bdrs10px {
  border-radius: 10px;
}

/* line 181, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.icon-text {
  margin-right: 8px;
}

/* line 183, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.icon-text.sm {
  margin-right: 4px;
}

/* line 187, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-200 {
  font-weight: 200;
}

/* line 190, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-300 {
  font-weight: 300;
}

/* line 193, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-400 {
  font-weight: 400;
}

/* line 196, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-600 {
  font-weight: 600;
}

/* line 199, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-700 {
  font-weight: 700;
}

/* line 202, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.weight-900 {
  font-weight: 900;
}

/* line 205, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font-style-italic {
  font-style: italic;
}

/* line 208, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.font-style-normal {
  font-style: normal;
}

/* line 211, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.clear {
  clear: both;
}

/* line 214, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

/* line 219, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.clearfix:after {
  clear: both;
}

/* line 222, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.inline {
  display: inline;
}

/* line 225, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.block {
  display: block;
}

/* line 228, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.inline-block {
  display: inline-block;
}

/* line 231, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 234, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 237, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 240, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.div-center {
  display: table;
  margin: 0 auto;
  float: none;
}

/* line 245, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fullHeight {
  height: 100%;
}

/* line 248, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mytable {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 253, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fixed-table-layout {
  table-layout: fixed;
}

/* line 256, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.table-cell {
  display: table-cell;
}

/* line 259, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.va-middle {
  vertical-align: middle;
}

/* line 262, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.va-top {
  vertical-align: top;
}

/* line 265, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.va-bottom {
  vertical-align: bottom;
}

/* line 268, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.static {
  position: static;
}

/* line 271, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.relative {
  position: relative;
}

/* line 274, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.absolute {
  position: absolute;
}

/* line 277, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fixed {
  position: fixed;
}

/* line 280, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 283, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.circle {
  border-radius: 50%;
}

/* line 286, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.m0 {
  margin: 0 !important;
}

/* line 289, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 292, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 295, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 298, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 301, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 304, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 307, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 310, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 313, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 316, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 319, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 322, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 325, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 329, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* line 333, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* line 337, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* line 341, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* line 345, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* line 349, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 352, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 355, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 358, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 361, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-40 {
  padding-bottom: 40px !important;
}

/* line 364, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 367, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 370, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 373, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 376, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 379, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-40 {
  padding-top: 40px !important;
}

/* line 382, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 385, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 389, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 393, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* line 397, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

/* line 401, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

/* line 405, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

/* line 409, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 414, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 423, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.col-xs-20 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  /* line 428, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .col-sm-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  /* line 434, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .col-md-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  /* line 440, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .col-lg-20 {
    width: 20%;
    float: left;
  }
}

/* line 446, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fitVid {
  position: relative;
  padding-bottom: 56%;
  height: 0;
}

/* line 450, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.fitVid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 460, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row45 {
  margin-left: -45px;
  margin-right: -45px;
}

/* line 463, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row45 .column {
  padding-left: 45px;
  padding-right: 45px;
}

/* line 468, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row25 {
  margin-left: -25px;
  margin-right: -25px;
}

/* line 471, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row25 .column {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 476, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row20 {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 479, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row20 .column {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 484, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row10 {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 487, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row10 .column {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 492, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row7 {
  margin-left: -7px;
  margin-right: -7px;
}

/* line 495, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row7 .column {
  padding-left: 7px;
  padding-right: 7px;
}

/* line 500, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 503, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.row5 .column {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 509, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control {
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
}

/* line 512, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 518, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control::-moz-placeholder {
  color: #838383;
  opacity: 1;
}

/* line 522, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control:-ms-input-placeholder {
  color: #838383;
}

/* line 525, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control::-webkit-input-placeholder {
  color: #838383;
}

/* line 528, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.form-control:focus {
  box-shadow: none;
  border: 1px solid #ffffff !important;
}

/* line 534, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.section {
  padding: 80px 0;
}

@media (max-width: 767px) {
  /* line 534, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .section {
    padding: 40px 0;
  }
}

/* line 541, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.sec-title h2 {
  margin: 0;
  font-size: 42px;
  font-family: 'RMedium';
}

@media (max-width: 1024px) {
  /* line 541, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .sec-title h2 {
    font-size: 38px;
  }
}

@media (max-width: 992px) {
  /* line 541, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .sec-title h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  /* line 541, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .sec-title h2 {
    font-size: 30px;
  }
}

/* line 556, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.action-btn {
  font-size: 25px;
  font-family: 'HARegular';
  color: #9c988d;
}

/* line 561, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header {
  padding: 10px 0 20px;
}

@media (max-width: 992px) {
  /* line 563, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .logo {
    float: none !important;
  }
}

@media (max-width: 992px) {
  /* line 567, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .logo img {
    max-width: 250px;
  }
}

@media (max-width: 767px) {
  /* line 567, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .logo img {
    max-width: 100px;
  }
}

/* line 575, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .logo a {
  opacity: 1;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  /* line 581, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .contact-info {
    display: none;
  }
}

/* line 585, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .contact-info .cc-socials {
  margin: 10px 0;
}

/* line 588, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .contact-info .cc-socials ul li {
  margin-left: 10px;
}

/* line 591, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .contact-info .cc-socials ul li a img {
  max-width: 50px;
}

/* line 598, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .contact-info .cc-phone {
  font-size: 36px;
}

@media (max-width: 992px) {
  /* line 598, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .contact-info .cc-phone {
    font-size: 20px;
  }
}

/* line 605, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.header .toggle {
  display: none;
}

@media (max-width: 992px) {
  /* line 605, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .toggle {
    display: block;
  }
}

@media (max-width: 992px) {
  /* line 612, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .header .mobile-hide {
    display: none;
  }
}

/* line 618, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.banner {
  position: relative;
  height: 65vh;
  margin-top: -55px;
  background-position: top center;
}

/* line 623, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.banner .banner-content {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

/* line 629, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.banner .banner-content .banner-note {
  max-width: 400px;
  background-color: #e0d8ca;
  border-radius: 20px;
  text-align: center;
  padding: 40px 30px;
}

@media (max-width: 992px) {
  /* line 629, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .banner .banner-content .banner-note {
    padding: 25px 20px;
  }
}

/* line 638, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.banner .banner-content .banner-note h1 {
  margin: 0;
  font-size: 51px;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  /* line 638, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .banner .banner-content .banner-note h1 {
    font-size: 41px;
  }
}

@media (max-width: 992px) {
  /* line 638, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .banner .banner-content .banner-note h1 {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  /* line 638, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .banner .banner-content .banner-note h1 {
    font-size: 20px;
  }
}

/* line 660, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.banner:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(162, 195, 159, 0.8);
  z-index: 1;
}

/* line 672, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu {
  margin-bottom: 50px;
}

/* line 675, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu .mynav .close-menu {
  display: none;
  padding: 5px 10px 10px;
  background-color: rgba(0, 0, 0, 0.32);
}

@media (max-width: 767px) {
  /* line 675, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .menu .mynav .close-menu {
    display: inline-block;
    margin-bottom: 20px;
    z-index: 4;
    position: absolute;
    top: 0;
  }
}

/* line 689, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul {
  display: table;
  margin: 0 auto;
}

@media (max-width: 767px) {
  /* line 689, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .menu ul {
    display: block;
  }
}

/* line 695, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li {
  position: relative;
}

/* line 697, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li a {
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'RMedium';
}

/* line 703, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li a:hover {
  background-color: #1d1d1b;
}

/* line 709, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li ul {
  position: absolute;
  width: 550px;
  top: 100%;
  z-index: 3;
  background-color: #000;
  display: block;
}

/* line 717, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li ul li a {
  display: none;
}

/* line 719, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li ul li a a:hover {
  display: inline-block;
}

/* line 723, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li ul li.current-menu-item, .menu ul li ul li:hover {
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  position: relative;
  outline: 1;
}

/* line 728, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.menu ul li ul li.current-menu-item:after, .menu ul li ul li:hover:after {
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  position: absolute;
  content: '';
  height: 1px;
  width: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
  background-color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 767px) {
  /* line 728, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .menu ul li ul li.current-menu-item:after, .menu ul li ul li:hover:after {
    display: none;
  }
}

@media (max-width: 767px) {
  /* line 755, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .menu {
    display: none !important;
  }
  /* line 758, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #66746b;
    z-index: 9;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  /* line 768, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas.show-offcanvas {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* line 771, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas ul {
    margin-top: 80px;
  }
  /* line 773, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas ul li {
    float: none;
  }
  /* line 775, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas ul li a {
    color: #ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid #788e80;
  }
  /* line 780, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas ul li.current-menu-item {
    opacity: 0.5;
  }
  /* line 785, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas .coff {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.23);
    z-index: 9;
  }
  /* line 791, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .body-inactive {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 8;
  }
}

@media (min-width: 768px) {
  /* line 803, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .offcanvas,
  .body-inactive {
    display: none !important;
  }
}

/* line 809, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom {
  margin-bottom: 100px;
}

/* line 813, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  float: left;
  height: 255px;
}

/* line 820, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(1) {
  background-color: #a2c39f;
}

/* line 823, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(2) {
  background-color: #c39966;
}

/* line 826, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(3) {
  background-color: #f8c5ce;
}

/* line 829, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(4) {
  background-color: #f7d78c;
}

/* line 832, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(5) {
  background-color: #66746b;
}

/* line 835, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list:nth-child(6) {
  background-color: #85a7bf;
}

@media (max-width: 767px) {
  /* line 813, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .logo-top-text-bottom .lttb-content .lttbc-list {
    width: 50%;
  }
}

/* line 841, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content {
  padding: 0 30px;
}

@media (max-width: 767px) {
  /* line 841, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .logo-top-text-bottom .lttb-content .lttbc-list .hover-content {
    padding: 0 10px;
  }
}

/* line 846, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-logo {
  margin-bottom: 15px;
}

/* line 848, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-logo img {
  max-width: 40%;
}

/* line 852, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-text {
  margin-bottom: 15px;
}

/* line 855, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-text p {
  margin: 0;
  color: #ffffff;
}

@media (max-width: 767px) {
  /* line 855, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-text p {
    font-size: 14px;
  }
}

/* line 863, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-top-text-bottom .lttb-content .lttbc-list .hover-content .hc-arrow {
  text-align: center;
}

@media (max-width: 992px) {
  /* line 868, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .logo-top-text-bottom .lttb-content .lttbc-list .normal-content img {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* line 878, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text {
  position: relative;
}

/* line 880, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .sec-note {
  position: absolute;
  max-width: 400px;
  background-color: #e0d8ca;
  border-radius: 20px;
  text-align: center;
  top: -30%;
  left: 25%;
  box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  /* line 880, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note {
    top: -10%;
  }
}

@media (max-width: 767px) {
  /* line 880, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note {
    top: -18%;
    left: 15%;
  }
}

/* line 896, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .sec-note .sn-contain {
  position: relative;
  padding: 40px 30px;
}

@media (max-width: 992px) {
  /* line 896, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note .sn-contain {
    padding: 25px 15px;
  }
}

/* line 902, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .sec-note .sn-contain p {
  margin: 0;
  font-size: 51px;
  line-height: 1.2;
  font-family: 'HARegular';
}

@media (max-width: 1024px) {
  /* line 902, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note .sn-contain p {
    font-size: 41px;
  }
}

@media (max-width: 992px) {
  /* line 902, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note .sn-contain p {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  /* line 902, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-image-right-text .sec-note .sn-contain p {
    font-size: 20px;
    padding: 20px;
  }
}

/* line 919, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .sec-note .sn-contain:after {
  position: absolute;
  content: '';
  border-left: 20px solid transparent;
  border-right: 50px solid #e0d8ca;
  border-bottom: 100px solid transparent;
  z-index: 2;
  right: 40px;
  bottom: -75px;
}

/* line 931, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content {
  padding: 40px 30px;
  border-radius: 20px;
}

/* line 938, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lirtcts-date {
  margin-bottom: 25px;
}

/* line 942, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lirtcts-title {
  margin-bottom: 30px;
}

/* line 944, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lirtcts-title h2 {
  margin: 0;
}

/* line 948, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lirtcts-desc {
  margin-bottom: 30px;
}

/* line 950, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lirtcts-desc p {
  margin: 0;
}

/* line 955, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-image-right-text .lirt-content .lirtc-text-sec .lircts-cta {
  margin-left: 100px;
}

/* line 965, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content {
  padding: 40px 30px;
  border-radius: 20px;
}

/* line 968, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content .tibt-image {
  margin-bottom: 45px;
}

/* line 975, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content .tibt-text .tibt-date {
  margin-bottom: 25px;
}

/* line 982, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content .tibt-text .tibt-title {
  margin-bottom: 40px;
}

/* line 990, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content .tibt-text .tibt-desc p {
  margin-bottom: 35px;
}

/* line 992, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.top-image-bottom-text .tibt-content .tibt-text .tibt-desc p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  /* line 1003, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-text-right-image .ltri-content .ltri-text {
    margin-bottom: 40px;
  }
}

/* line 1007, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-text-right-image .ltri-content .ltri-text .ltri-title {
  margin-bottom: 45px;
}

/* line 1009, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-text-right-image .ltri-content .ltri-text .ltri-title h2 {
  font-family: 'HARegular';
  font-size: 42px;
  line-height: 1.2;
}

/* line 1016, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-text-right-image .ltri-content .ltri-text .ltri-listing ul {
  margin: 0;
}

/* line 1018, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-text-right-image .ltri-content .ltri-text .ltri-listing ul li {
  margin-bottom: 5px;
  font-size: 20px;
  color: #5b5b5b;
}

@media (max-width: 1200px) {
  /* line 1018, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-text-right-image .ltri-content .ltri-text .ltri-listing ul li {
    font-size: 16px;
  }
}

/* line 1025, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-text-right-image .ltri-content .ltri-text .ltri-listing ul li .day {
  margin-right: 40px;
  width: 100px;
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 1038, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-logo-right-text .llrt-content .lirt-logo {
    margin-bottom: 20px;
  }
}

/* line 1042, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-logo-right-text .llrt-content .lirt-logo .lirtl-img {
  margin-top: 20px;
}

@media (max-width: 767px) {
  /* line 1042, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-logo-right-text .llrt-content .lirt-logo .lirtl-img {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  /* line 1047, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .left-logo-right-text .llrt-content .lirt-logo .lirtl-img img {
    max-width: 80%;
    margin: 0 auto;
    display: table;
  }
}

/* line 1057, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-logo-right-text .llrt-content .lirt-text .lirt-title {
  margin-bottom: 30px;
}

/* line 1059, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-logo-right-text .llrt-content .lirt-text .lirt-title h2 {
  color: #a2c39f;
}

/* line 1064, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.left-logo-right-text .llrt-content .lirt-text .lirt-desc p {
  margin: 0;
}

/* line 1075, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.three-column-image .tci-content .tcic-listing .tcicl-content .tcic-image {
  margin-bottom: 14px;
}

/* line 1083, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-box .lb-content {
  padding: 40px 30px;
  border-radius: 20px;
}

/* line 1087, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-box .lb-content .lbc-listing:last-child {
  margin-bottom: 0;
}

/* line 1090, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-box .lb-content .lbc-listing .lbc-list {
  margin-bottom: 20px;
}

/* line 1093, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-box .lb-content .lbc-listing .lbc-list .lbcl-logo {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 1108, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-listing .item {
  text-align: center;
}

/* line 1111, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-listing .item .olc-img img {
  width: auto !important;
  display: inline-block;
}

/* line 1119, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.logo-listing .owl-carousel .owl-stage-outer .owl-stage {
  display: flex;
  align-items: center;
}

/* line 1126, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer {
  padding: 50px 0;
}

@media (max-width: 767px) {
  /* line 1126, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer {
    text-align: center;
  }
}

/* line 1131, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content {
  font-size: 14px;
  color: #1d1d1b;
}

@media (max-width: 992px) {
  /* line 1134, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-logo {
    display: table;
    margin: 0 auto 40px;
  }
}

/* line 1141, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-title {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  /* line 1141, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-content .fcl-title {
    margin-top: 20px;
  }
}

/* line 1146, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-title h3 {
  font-size: 14px;
  font-family: 'RMedium';
  margin: 0;
}

/* line 1153, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-link ul {
  margin-bottom: 0;
}

/* line 1156, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-link ul li a {
  display: block;
  padding: 2px 0;
}

@media (max-width: 992px) {
  /* line 1156, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-content .fcl-link ul li a {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  /* line 1155, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-content .fcl-link ul li {
    float: left;
    display: block;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  /* line 1155, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-content .fcl-link ul li {
    float: none;
    margin-right: 0;
  }
}

/* line 1177, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-address address {
  margin-bottom: 0;
}

/* line 1179, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.footer .footer-content .fc-content .fcl-address address span {
  display: block;
  margin-top: 5px;
}

@media (max-width: 992px) {
  /* line 1179, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
  .footer .footer-content .fc-content .fcl-address address span {
    font-size: 16px;
  }
}

/* line 1192, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.bottom-footer p {
  margin: 0;
  color: #ffffff;
  padding: 15px 0;
}

/* line 1200, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-ffffff {
  color: #ffffff !important;
}

/* line 1203, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-ffffff-bg {
  background-color: #ffffff !important;
}

/* line 1207, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-a2c39f {
  color: #a2c39f !important;
}

/* line 1210, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-a2c39f-bg {
  background-color: #a2c39f !important;
}

/* line 1213, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-000000 {
  color: #000000 !important;
}

/* line 1216, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-000000-bg {
  background-color: #000000 !important;
}

/* line 1219, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-9c988d {
  color: #9c988d !important;
}

/* line 1222, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-9c988d-bg {
  background-color: #9c988d !important;
}

/* line 1225, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-1d1d1b {
  color: #1d1d1b !important;
}

/* line 1228, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-1d1d1b-bg {
  background-color: #1d1d1b !important;
}

/* line 1231, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-e0d8ca {
  color: #e0d8ca !important;
}

/* line 1234, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-e0d8ca-bg {
  background-color: #e0d8ca !important;
}

/* line 1237, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-f7d78c {
  color: #f7d78c !important;
}

/* line 1240, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-f7d78c-bg {
  background-color: #f7d78c !important;
}

/* line 1243, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-5b5b5b {
  color: #5b5b5b !important;
}

/* line 1246, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-5b5b5b-bg {
  background-color: #5b5b5b !important;
}

/* line 1249, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-d8d0c0 {
  color: #d8d0c0 !important;
}

/* line 1252, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-d8d0c0-bg {
  background-color: #d8d0c0 !important;
}

/* line 1255, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-c39966 {
  color: #c39966 !important;
}

/* line 1258, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-c39966-bg {
  background-color: #c39966 !important;
}

/* line 1261, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-f8c5ce {
  color: #f8c5ce !important;
}

/* line 1264, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-f8c5ce-bg {
  background-color: #f8c5ce !important;
}

/* line 1267, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-66746b {
  color: #66746b !important;
}

/* line 1270, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-66746b-bg {
  background-color: #66746b !important;
}

/* line 1273, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-85a7bf {
  color: #85a7bf !important;
}

/* line 1276, C:/xampp/htdocs/sudam/leff-kinderkledng/css/style.scss */
.theme-85a7bf-bg {
  background-color: #85a7bf !important;
}

/*# sourceMappingURL=../style.map */